body {
    font-family: Arial, sans-serif;
}

.sidebar {
    background-color: #2b3e50;
    height: 100vh;
}

.sidebar-content img {
    max-width: 100%;
}

.search-box {
    background-color: #2a7baf;
    padding: 20px;
    border-radius: 5px;
}

.search-box form .form-group label {
    color: white;
}

.table-responsive {
    background-color: #444;
    padding: 20px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .sidebar {
        height: auto;
        padding-bottom: 20px;
    }
    .sidebar-sticky {
        position: relative;
    }
    .sidebar-content img {
        width: 50%;
    }
}
