body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-box {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    width: 800px; /* تعديل العرض ليكون أعرض */
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    background-color: #2a7baf; /* لون الخلفية للرأس */
    color: #fff;
    margin: -20px -20px 20px -20px;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
}

form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: calc(25% - 10px); /* تعديل العرض ليكون ربع العرض الكلي */
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
}

button {
    background-color: #2a7baf;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0055a5;
}

input[type="date"] {
    padding: 5px;
}
